@use "src/styles/utils/vars";
@use "src/styles/utils/mixins";

.potager_form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 15rem;
  margin-top: 10rem;
  margin-bottom: 18rem;
  .potager_addCarre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 27rem;
    width: 20rem;
    border-radius: 1rem;
    background: vars.$colorLight;
    box-shadow: 0px 6px 10px rgb(179, 179, 179);
    position: relative;
    z-index: 0;

    h1 {
      width: 100%;
      height: 3.5rem;
      text-align: center;
      margin-top: 2rem;
      font-weight: bold;
      font-size: 1.5rem;
      font-family: vars.$fontTitle;
      color: vars.$colorBlue;
    }

    .input_box {
      width: 15rem;
      margin: 0 2rem 2rem 2rem;
      input {
        width: 100%;

        border: 0;
        border-bottom: 1.5px solid vars.$secondaryColor;
        background-color: transparent;
        padding: 4px 0;

        font-size: 1em;
        &::placeholder {
          color: transparent;
        }

        &:focus {
          width: 100%;
          transition: 0.4s;
          border-bottom: 3px solid vars.$color5;
        }
        &:focus ~ #labelField-name,
        &:not(:placeholder-shown) ~ #labelField-name {
          transform: translateY(-1em) scale(0.8);
        }

        &:focus ~ #labelField-size,
        &:not(:placeholder-shown) ~ #labelField-size {
          transform: translateY(-1em) scale(0.8);
        }
      }

      label {
        margin: 1rem 0;
        color: rgb(153, 153, 153);
        height: 2px;
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none;
      }

      #labelField-name {
        position: absolute;
        top: 80px;
        left: 40px;
      }

      #labelField-size {
        position: absolute;
        top: 139px;
        left: 40px;
      }
    }

    .addCarre_box {
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
      .addCarre_button {
        @include mixins.buttonInput;
        width: 8rem;
        margin: 1.5rem 0 4rem 0;
      }
    }
  }

  .potager_addPlant {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 27rem;
    width: 20rem;
    border-radius: 1rem;
    background: vars.$colorLight;
    box-shadow: 0px 6px 10px rgb(179, 179, 179);
    position: relative;
    z-index: 0;

    h1 {
      width: 100%;
      height: 3.5rem;
      text-align: center;
      margin-top: 2rem;
      font-weight: bold;
      font-size: 1.5rem;
      font-family: vars.$fontTitle;
      color: vars.$colorBlue;
    }

    .input_box {
      width: 15rem;
      margin: 0 2rem 2rem 2rem;
      input {
        width: 100%;

        border: 0;
        border-bottom: 1.5px solid vars.$secondaryColor;
        background-color: transparent;
        padding: 4px 0;

        font-size: 1em;
        &::placeholder {
          color: transparent;
        }

        &:focus {
          width: 100%;
          transition: 0.4s;
          border-bottom: 3px solid vars.$color5;
        }
        &:focus ~ #labelField-name,
        &:not(:placeholder-shown) ~ #labelField-name {
          transform: translateY(-1em) scale(0.8);
        }

        &:focus ~ #labelField-family,
        &:not(:placeholder-shown) ~ #labelField-family {
          transform: translateY(-1em) scale(0.8);
        }

        &:focus ~ #labelField-variete,
        &:not(:placeholder-shown) ~ #labelField-variete {
          transform: translateY(-1em) scale(0.8);
        }
      }

      label {
        margin: 1rem 0;
        color: rgb(153, 153, 153);
        height: 2px;
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none;
      }

      #labelField-name {
        position: absolute;
        top: 80px;
        left: 40px;
      }

      #labelField-family {
        position: absolute;
        top: 139px;
        left: 40px;
      }

      #labelField-variete {
        position: absolute;
        top: 198px;
        left: 40px;
      }

      #labelField-potager {
        position: absolute;
        top: 257px;
        left: 40px;
      }
    }

    .addCarre_box {
        display: flex;
        justify-content: center;
        margin-top: 1.8rem;
      .addCarre_button {
        @include mixins.buttonInput;
        width: 8rem;
        margin: 1.5rem 0 4rem 0;
      }
    }
  }
}
