@use "src/styles/utils/vars";
@use "src/styles/utils/mixins";

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  background: #f8f9fd;
  height: 60%;

  h1 {
    font-weight: bold;
    margin-bottom: 5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 55rem;
    width: 25rem;
    border-radius: 1rem;
    background: vars.$colorLight;
    box-shadow: 0px 6px 10px rgb(179, 179, 179);
    position: relative;

    .register_success {
      align-self: center;
      text-align: center;
      height: 2.3rem;
      width: 90%;
      border: 1px solid vars.$primaryColor;
      color: vars.$primaryColor;
      border-radius: 2rem;
      padding-top: 0.6rem;
      margin-bottom: 2rem;
    }

    .signup__error {
      color: vars.$colorError;
      font-weight: bold;
      font-size: 0.6rem;
      margin-bottom: 1rem;
      align-self: flex-start;
      margin-left: 5rem;
      padding-top: 5px;
    }

    h1 {
      width: 100%;
      height: 3.5rem;
      text-align: center;
      margin-top: 2rem;
      font-weight: bold;
      font-size: 1.5rem;
      font-family: vars.$fontTitle;
      color: vars.$colorBlue;
    }

    .input_box {
      width: 15rem;
      margin: 0 2rem 2rem 2rem;

      #input_avatar {
        margin-top: 1rem;
      }

      input {
        width: 100%;

        border: 0;
        border-bottom: 1.5px solid vars.$secondaryColor;
        background-color: transparent;
        padding: 4px 0;

        font-size: 1em;
        &::placeholder {
          color: transparent;
        }

        &:focus {
          width: 100%;
          transition: 0.4s;
          border-bottom: 3px solid vars.$color5;
        }
        &:focus ~ #labelField-email,
        &:not(:placeholder-shown) ~ #labelField-email {
          transform: translateY(-1em) scale(0.8);
          left: 75px;
        }

        &:focus ~ #labelField-password,
        &:not(:placeholder-shown) ~ #labelField-password {
          transform: translateY(-1em) scale(0.8);
          left: 70px;
        }

        &:focus ~ #labelField-password-confirm,
        &:not(:placeholder-shown) ~ #labelField-password-confirm {
          transform: translateY(-1em) scale(0.8);
          left: 60px;
        }

        &:focus ~ #labelField-firstname,
        &:not(:placeholder-shown) ~ #labelField-firstname {
          transform: translateY(-1em) scale(0.8);
          left: 74px;
        }

        &:focus ~ #labelField-lastname,
        &:not(:placeholder-shown) ~ #labelField-lastname {
          transform: translateY(-1em) scale(0.8);
          left: 75px;
        }
      }

      label {
        margin: 1rem 0;
        color: rgb(153, 153, 153);
        height: 2px;
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none;
      }

      #labelField-email {
        position: absolute;
        top: 156px;
        left: 79px;
      }

      #labelField-password {
        position: absolute;
        top: 215px;
        left: 79px;
      }

      #labelField-password-confirm {
        position: absolute;
        top: 275px;
        left: 79px;
      }

      #labelField-firstname {
        position: absolute;
        top: 335px;
        left: 79px;
      }

      #labelField-lastname {
        position: absolute;
        top: 395px;
        left: 79px;
      }

      #labelField-avatar {
        position: absolute;
        top: 445px;
        left: 79px;
      }

      i {
        position: absolute;
        right: 69px;
      }
      .fa-check {
        padding-right: 16px;
        margin-top: 6px;
        color: green;
        min-width: 50px;
        text-align: right;
      }

      .register_input--success {
        border-bottom: solid green 2px !important;
        background-color: rgba(0, 128, 0, 0.159);
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
      }
    }

    .input_box--error {
      width: 15rem;
      margin: 0 2rem;

      i {
        position: absolute;
        right: 69px;
      }

      .fa-check {
        display: none;
      }

      .fa-exclamation-circle {
        padding-right: 16px;
        margin-top: 6px;
        color: red;
        min-width: 31px;
        min-height: 32px;
        align-self: flex-end;
      }

      input {
        width: 100%;

        border: 0;
        border-bottom: 1.5px solid vars.$colorError;
        background-color: rgba(253, 0, 0, 0.09);
        padding: 4px 0;

        font-size: 1em;
        &::placeholder {
          color: transparent;
        }

        &:focus {
          width: 100%;
          transition: 0.4s;
          border-bottom: 3px solid rgba(253, 0, 0, 0.624);
        }
        &:focus ~ #labelField-email,
        &:not(:placeholder-shown) ~ #labelField-email {
          transform: translateY(-1em) scale(0.8);
          left: 75px;
        }

        &:focus ~ #labelField-password,
        &:not(:placeholder-shown) ~ #labelField-password {
          transform: translateY(-1em) scale(0.8);
          left: 70px;
        }

        &:focus ~ #labelField-password-confirm,
        &:not(:placeholder-shown) ~ #labelField-password-confirm {
          transform: translateY(-1em) scale(0.8);
          left: 60px;
        }

        &:focus ~ #labelField-firstname,
        &:not(:placeholder-shown) ~ #labelField-firstname {
          transform: translateY(-1em) scale(0.8);
          left: 75px;
        }

        &:focus ~ #labelField-lastname,
        &:not(:placeholder-shown) ~ #labelField-lastname {
          transform: translateY(-1em) scale(0.8);
          left: 77px;
        }
      }

      label {
        margin: 1rem 0;
        color: rgb(153, 153, 153);
        height: 2px;
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none;
      }

      #labelField-email {
        position: absolute;
        top: 156px;
        left: 79px;
      }

      #labelField-password {
        position: absolute;
        top: 215px;
        left: 79px;
      }

      #labelField-password-confirm {
        position: absolute;
        top: 273px;
        left: 79px;
      }

      #labelField-firstname {
        position: absolute;
        top: 332px;
        left: 79px;
      }

      #labelField-lastname {
        position: absolute;
        top: 390px;
        left: 79px;
      }
    }

    .register_button {
      @include mixins.buttonInput;
      width: 15rem;
      margin: 2rem 0 8rem 0;
    }
    p {
      padding-bottom: 0.7rem;
      span {
        font-weight: bold;
      }
    }
  }
}
