@use "src/styles/utils/vars";

@mixin legendBrown {
  background-color: vars.$colorBrown;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

@mixin legendRed {
  background-color: vars.$colorRed;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
@mixin legendBlue {
  background-color: vars.$colorBlue;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
@mixin buttonInput {
  background: vars.$primaryColor;
  border: none;
  height: 3rem;
  border-radius: 2rem;
  color: vars.$colorLight;
  font-weight: bold;
}
@mixin flexStartCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnStartCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexcenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexcenterEndColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexAroundCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-phone-and-tablet-only {
  @media (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-screen-small-medium {
  @media (max-width: 999px) {
    @content;
  }
}
@mixin for-desktop-small-medium {
  @media (min-width: 900px) and (max-width: 1399px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
