// == Color
$primaryColor: #74EC8D;
$secondaryColor: #EBB016;
$color3: #E0FF20;
$color4: #21DAFF;
$color5: #FF5C1A;
// == Font 
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
$fontMenu: 'Redressed', cursive;
