@use "src/styles/utils/vars";

.footer {
    position: absolute;
    width: 100%;
    .copyright {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: vars.$secondaryColor;
        height: 3rem;
        width: 100%;
        padding-right: 2rem;
        font-weight: bold;
    }
}
