@use "src/styles/utils/vars";
@use "src/styles/utils/mixins";

.userspace {
  display: flex;
  min-height: 100vh;
  width: 100%;

  .menu_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: vars.$colorBrown;
    width: 25rem;
    padding-top: 2rem;
    @include mixins.for-desktop-small-medium {
      width: 18rem;
    }

    .menu_user-img {
      margin: 4rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        height: 90px;
        width: auto;
        border-radius: 50%;

        margin-bottom: 1rem;
        @include mixins.for-desktop-small-medium {
          height: 90px;
        }
      }

      p {
        color: vars.$colorLight;
        font-weight: bold;
      }
    }

    ul {
      padding: 0px 0px 0px 16px;


      li:not(:last-child) {
        margin-bottom: 3rem;
      }

      li {
        color: vars.$colorLight;
        font-weight: bold;
        padding: 0.5rem 0;

        svg {
          margin-right: 0.7rem;
          color: #6FA943;
        }

        .active {
          color: vars.$color5;
          
        }
      }
    }
  }
}
