@use "src/styles/utils/vars";
@use "src/styles/utils/mixins";

.potager {
  background-color: #008037;
  min-height: 100vh;

  h2 {
    width: 100%;
    height: 3.5rem;
    text-align: center;
    padding: 2rem 0;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: vars.$fontTitle;
    color: vars.$colorBlue;
  }

  .potager_plan {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    @include mixins.for-phone-and-tablet-only {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .potager_carre--box {
        margin: 2rem 3rem;
        @include mixins.for-phone-and-tablet-only {
          margin: 2rem 1.5rem;
        }
        @include mixins.for-phone-only {
          margin: 2rem 1.5rem;
        }
        h3 {
            text-align: center;
            font-weight: bold;
            font-family: vars.$fontSecondary;
            color: vars.$color4;
        }
      .potager_carre {
        border: solid 6px #efc40d;
        width: 25rem;
        height: 9rem;
        margin-top: 1rem;
        background: #7c4807;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        img {
          height: 3.5rem;
          border-radius: 50%;
          margin: 1.3rem;
          @include mixins.for-phone-and-tablet-only {
            height: 2rem;
          }
          @include mixins.for-phone-only {
            height: 1.3rem;
          }
        }
      }

      .carre33 {
        width: 25rem;
        height: 25rem;
        @include mixins.for-phone-and-tablet-only {
          width: 20rem;
          height: 20rem;
        }
        @include mixins.for-phone-only {
          width: 15rem;
          height: 15rem;
        }
      }

      .carre25 {
        width: 42rem;
        height: 14rem;
        @include mixins.for-phone-and-tablet-only {
          width: 30rem;
        }
        @include mixins.for-phone-only {
          width: 20rem;
        }
      }

      .carre24 {
        width: 35rem;
        height: 13rem;
        @include mixins.for-phone-and-tablet-only {
          width: 28rem;
        }
        @include mixins.for-phone-only {
          width: 20rem;
        }
      }

      .carre35 {
        width: 45rem;
        height: 25rem;
        @include mixins.for-phone-and-tablet-only {
          width: 25rem;
          height: 15rem;
        }
        @include mixins.for-phone-only {
          width: 25rem;
        }
      }
    }
  }
}
