@use "src/styles/utils/vars";
@use "src/styles/utils/mixins";

.potager {
  background-color: #008037;
  height: 90vh;

  h2 {
    width: 100%;
    height: 3.5rem;
    text-align: center;
    padding: 2rem 0;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: vars.$fontTitle;
    color: vars.$colorBlue;
  }

  .potager_plan {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    .potager_carre--box {
        margin-bottom: 2rem;
        margin: 2rem 3rem;
        h3 {
            text-align: center;
            font-weight: bold;
            font-family: vars.$fontSecondary;
            color: vars.$color4;
        }
      .potager_carre {
        border: solid 5px #efc40d;
        width: 25rem;
        height: 9rem;
        margin-top: 1rem;
        background: #7c4807;
      }

      .carre33 {
        width: 25rem;
        height: 25rem;
      }

      .carre25 {
        width: 35rem;
        height: 9rem;
      }

      .carre24 {
        width: 30rem;
        height: 9rem;
      }
    }
  }
}
