@use "src/styles/utils/vars";
@use "src/styles/utils/mixins";

.addSemis {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 5rem;
  padding-top: 8rem;
  background: #f8f9fd;
  @include mixins.for-screen-small-medium {
    min-height: 100vh;
    margin-bottom: 3rem;
  }

  .addSemis--box {
    height: 35rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 40rem;
      width: 25rem;
      border-radius: 1rem;
      background: vars.$colorLight;
      box-shadow: 0px 6px 10px rgb(179, 179, 179);
      position: relative;
      z-index: 0;
      margin-top: 5rem;

      .addSemis--title {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3rem;
        margin-top: 2rem;

        h1 {
          color: vars.$colorBlue;
          font-weight: bold;
          font-size: 1.8rem;
          font-family: vars.$fontMenu;
        }
      }

      .input_box {
        width: 15rem;
        margin: 2rem 2rem;

        input {
          width: 100%;

          border: 0;
          border-bottom: 1.5px solid vars.$secondaryColor;
          background-color: transparent;
          padding: 4px 0;

          font-size: 1em;
          &::placeholder {
            color: transparent;
          }

          &:focus {
            width: 100%;
            transition: 0.4s;
            border-bottom: 3px solid vars.$color5;
          }
          &:focus ~ #labelField-variete,
          &:not(:placeholder-shown) ~ #labelField-variete {
            transform: translateY(-1em) scale(0.8);
          }

          &:focus ~ #labelField-famille,
          &:not(:placeholder-shown) ~ #labelField-famille {
            transform: translateY(-1em) scale(0.8);
          }

          &:focus ~ #labelField-date-semis,
          &:not(:placeholder-shown) ~ #labelField-date-semis {
            transform: translateY(-1em) scale(0.8);
          }

          &:focus ~ #labelField-nom-semis,
          &:not(:placeholder-shown) ~ #labelField-nom-semis {
            transform: translateY(-1em) scale(0.8);
          }
        }

        label {
          margin: 1rem 0;
          color: rgb(153, 153, 153);
          height: 2px;
          transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
          pointer-events: none;
        }

        #labelField-variete {
          position: absolute;
          top: 124px;
          left: 79px;
        }

        #labelField-famille {
          position: absolute;
          top: 216px;
          left: 79px;
        }

        #labelField-date-semis {
          position: absolute;
          top: 307px;
          left: 79px;
        }

        #labelField-nom-semis {
          position: absolute;
          top: 399px;
          left: 79px;
        }
      }
      .addSemis_button {
        @include mixins.buttonInput;
        width: 7rem;
        margin: 1.5rem 0 4rem 0;
      }
    }
  }
}
